
.left-button {
 
  position: absolute;
  bottom:50%;
  right: 50%;
  margin-right: 10%;
  transform:translate(-50%,-50%)
}

.left-side {
  width: 100vh;
  height: 100vh;
  background-color:rgb(233, 233, 233);
}

.right-side {
  width: 100vh;
  height: 100vh;
  background-color:rgb(32, 83, 252);
}

.right-button {
  margin-left: 10%;
  position: absolute;
  bottom:50%;
  left: 50%;
  transform:translate(50%,-50%)
}

.principal-page {
  display: flex;
  justify-content:center;
  align-items: center; 
}