.Help-form {
  width: 60%;
  position: absolute;
  left: 25%;
  top: 10%;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: black;
  font-size: 15pt;
  padding: 100px 200px;
  
  border: 2px solid rgba(49, 48, 48, 0.322);
  border-radius: 5%;
  text-align:center;
  
}

input {
  margin: 20px;
  text-align: center;
}
